<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      
     
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    {{!-- <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p> --}}
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}

<h2>You made it to home!</h2>
